body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

.login {
  background-color: #f432b2 ;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
}

h2 {
  color: #000;
  font-size: 24px;
  text-align: center;
}

label {
  color: #000;
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}

input[type=text], input[type=password] {
  background-color: #04046c ;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  width: 95%;
}

input[type=submit] {
  background-color: #04046c ;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #ddd;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
