@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: hsl(243, 87%, 12%);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  margin: 0;
  background: linear-gradient(120deg, #3da08f, #8e44ad);
}

a {
  color: #3da08f;
}

img {
  max-width: 100%;
}

h1,
h2,
h4 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2.4rem;
  margin-top: 0;
}

.container {
  padding: 30px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.flex > div,
.flex > ul {
  flex: 1;
}

.flex > div:first-child {
  margin-right: 20px;
}

.flex > div:last-child {
  margin-left: 20px;
}

/* Nav styling */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin-left: 50px;
}

nav ul a {
  color: hsl(243, 87%, 12%);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

nav ul a:hover {
  color: gray;
}

/* form section  */

form {
  display: flex;
}

input {
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  flex: 0.7;
  padding: 15px;
}

input::placeholder {
  color: hsl(0%, 0%, 75%);
}

button {
  border: 1px solid hsl(224, 93%, 58%);
  background-color: hsl(224, 93%, 58%);
  border-radius: 2pz;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  flex: 0.3;
  padding: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.light-blueish {
  background-color: hsl(240, 75%, 98%);
  margin-top: 100px;
  position: relative;
  padding: 50px 0;
}

.light-blueish::before {
  content: "";
  background-image: url("images/bg-curve-desktop.svg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -60px;
  left: 0;
  height: 60px;
  width: 100%;
}

/* Testimonials */

.card {
  width: 200px;
  height: 260px;
  background: linear-gradient(120deg, #3da08f, #8e44ad);
  border-radius: 15px;
  box-shadow: 1px 5px 50px 0px #0ad37cd1;
 }
 
 .card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
 }
 
 .card .img {
  width: 70px;
  height: 80px;
  background: #ff885c;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  background-image: url('images/anieves.PNG');
  background-size: cover;
  background-position: center;
}
 
 .card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
 }
 
 .card button:hover {
  background: #534bf3;
 }

 .card2 {
  width: 200px;
  height: 260px;
  background: linear-gradient(120deg, #3da08f, #8e44ad);
  border-radius: 15px;
  box-shadow: 1px 5px 50px 0px #0ad37cd1;
 }
 
 .card2 .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .card2 span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .card2 .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
 }
 
 .card2 .img {
  width: 70px;
  height: 80px;
  background: #ff885c;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  background-image: url('images/vmartinez.png');
  background-size: cover;
  background-position: center;
}
 
 .card2 button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
 }
 
 .card2 button:hover {
  background: #534bf3;
 }

/* blueish */

.blueish {
  background-color: hsl(238, 22%, 44%);
  color: #fff;
  padding: 20px 0;
}

.blueish form {
  flex-direction: column;
}

.blueish form input {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  flex: 1;
}

.blueish form button {
  margin: 20px 0 0;
  width: 50%;
}

/* Footer  */

footer {
  background-color: hsla(240, 20%, 13%, 0.764);
  color: #fff;
  padding: 50px 0;
  border-radius: 2%;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 20px;
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

footer p {
  text-align: right;
}


.equipo{
  display: flex;
  background-color: aliceblue;
  flex-wrap: wrap;
  flex-direction: row;
}

/* media quries  */
@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  nav {
    flex-direction: column;
    margin: 10px 0;
  }

  nav ul li {
    margin: 10px 20px;
  }

  .light-blueish::before {
    background-image: url("./images/bg-curve-mobile.svg");
    height: 80px;
  }

  .flex {
    flex-direction: column;
  }

  .flex > div {
    width: 100%;
  }

  .flex > div:first-child {
    margin-right: 0;
  }

  .flex > div:last-child {
    margin-left: 0;
  }

  .testimonal-box {
    width: 100%;
  }

  .blueish form input {
    flex: 1;
  }

  .blueish form button {
    margin: 20px 0;
    width: 100%;
  }

  .illustration {
    margin-top: 30px;
  }

  .user-info {
    justify-content: center;
  }

  footer ul {
    padding: 0;
    width: 100%;
  }
}


